<div class="container" style="margin-top: 25px">
  <div class="card">
    <div class="card-header">{{ starshipService.pilot?.birth_year }}</div>
    <div class="card-body">
      <h5 class="card-title">{{ starshipService.pilot?.name }}</h5>
      <p class="card-text">
        Height:<strong> {{ starshipService.pilot?.height }}</strong>
      </p>
      <p class="card-text">
        Mass:<strong> {{ starshipService.pilot?.mass }}</strong>
      </p>
      <p class="card-text">
        Hair Color:<strong> {{ starshipService.pilot?.hair_color }} </strong>
      </p>
      <p class="card-text">
        Skin Color:<strong> {{ starshipService.pilot?.skin_color }} </strong>
      </p>
      <p class="card-text">
        Eye Color:<strong> {{ starshipService.pilot?.eye_color }}</strong>
      </p>
      <p class="card-text">
        Gender:<strong> {{ starshipService.pilot?.gender }}</strong>
      </p>
      <a [routerLink]="['/']" class="btn btn-primary">Go to Starship list</a>
    </div>
  </div>
</div>
