<a
  (click)="selectStarship()"
  data-bs-toggle="modal"
  data-bs-target="#exampleModal"
  class="list-group-item list-group-item-action"
>
  <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1">{{ starship.name }}</h5>
    <small>{{ starship.model }}</small>
  </div>
  <p class="mb-1">{{ starship.manufacturer }}</p>
  <small>{{ starship.starship_class }}</small>
</a>
