<div class="container starship-container">
  <div class="list-group">
    <half-list-element
      (selectedStarship)="selectStarship($event)"
      [starship]="starship"
      *ngFor="let starship of starships?.starships"
    ></half-list-element>
    <half-paginator (changePage)="goTo($event)"></half-paginator>
  </div>
</div>
<half-modal></half-modal>
