<nav>
  <ul
    class="pagination pagination-lg"
    style="justify-content: right; cursor: pointer"
  >
    <li
      [class.active]="i + 1 === activePage"
      class="page-item"
      *ngFor="let item of [].constructor(pages); let i = index"
    >
      <a (click)="goTo(i + 1)" class="page-link">{{ i + 1 }}</a>
    </li>
  </ul>
</nav>
