<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ starship?.name }}</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-6">
            <p><small>Model</small></p>
          </div>
          <div class="col-6">
            <p>
              <strong>{{ starship?.model }}</strong>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <p>
              <small> Manufacturer</small>
            </p>
          </div>
          <div class="col-6">
            <p>
              <strong>{{ starship?.manufacturer }}</strong>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <p><small> Cost in credits</small></p>
          </div>
          <div class="col-6">
            <p>
              <strong>{{ starship?.cost_in_credits }}</strong>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <p><small>Length</small></p>
          </div>
          <div class="col-6">
            <p>
              <strong>{{ starship?.length }}</strong>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <p><small>Max atmosphering speed</small></p>
          </div>
          <div class="col-6">
            <p>
              <strong>{{ starship?.max_atmosphering_speed }}</strong>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <p><small>Crew</small></p>
          </div>
          <div class="col-6">
            <p>
              <strong>{{ starship?.crew }}</strong>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <p><small>Passengers</small></p>
          </div>
          <div class="col-6">
            <p>
              <strong>{{ starship?.passengers }}</strong>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <p><small>Cargo capacity</small></p>
          </div>
          <div class="col-6">
            <p>
              <strong>{{ starship?.cargo_capacity }}</strong>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <p><small>Consumables</small></p>
          </div>
          <div class="col-6">
            <p>
              <strong>{{ starship?.consumables }}</strong>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <p><small>Hyperdrive rating,</small></p>
          </div>
          <div class="col-6">
            <p>
              <strong>{{ starship?.hyperdrive_rating }}</strong>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <p><small>MGLT</small></p>
          </div>
          <div class="col-6">
            <p>
              <strong>{{ starship?.MGLT }}</strong>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <p><small>Starship class</small></p>
          </div>
          <div class="col-6">
            <p>
              <strong>{{ starship?.starship_class }}</strong>
            </p>
          </div>
        </div>
      </div>
      <p style="text-align: center">
        <small>Pilots</small>
      </p>
      <div class="row" style="padding: 5px">
        <div
          class="col"
          style="text-align: center"
          *ngFor="let pilot of starship?.pilotsData"
        >
          <p (click)="selectPilot(pilot)" data-bs-dismiss="modal">
            <strong style="cursor: pointer">{{ pilot.name }}</strong>
          </p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
